{# Load the css #}
<link rel="stylesheet" href="{{plugin_path('Novalnet')}}/css/novalnetUi.css">

{# Initialize the payment Id and payment status #}
{% set paymentId = 0 %}
{% set paidStatus = '' %}
{# Set the order property #}
{% set orderProperties = order.properties %}

{# Loop the order orderProperties #}
{% for orderProperty in orderProperties %}
    {% if orderProperty.typeId == 3 %}
        {% set paymentId = orderProperty.value %}
    {% endif %}
    {% if orderProperty.typeId == 4 %}
        {% set paidStatus = orderProperty.value %}
    {% endif %}
{% endfor %}

{% if (paymentId == paymentMethodId) and (paidStatus != 'fullyPaid') %}
    {% set display = "block" %}
{% else %}
    {% set display = "none" %}
{% endif %}

{# Check if it is Novalnet Payments then dispay the Reinit payment button in the order confirmation page #}
{% if 'NOVALNET' in paymentMopKey %}
    {% if services.template.isCurrentTemplate('tpl.confirmation') %}
        <div id="nnReinitPaymentMethod-{{order.id}}" class="row con-reinit" style="display:{{display}};">
            <span class="col-xs-12 col-sm-12">
                {% if paymentMopKey in ['NOVALNET_SEPA', 'NOVALNET_GUARANTEED_INVOICE', 'NOVALNET_GUARANTEED_SEPA', 'NOVALNET_CC'] %}
                    <a class="payment-confirmation-btn btn btn-primary" id="nn_form_payment_process">{{trans("Novalnet::Customize.template_novalnet_reinit_payment")}}</a>
                {% elseif paymentMopKey == 'NOVALNET_GOOGLEPAY' %}
                    {% include "Novalnet::PaymentForm.NovalnetGooglePayButton" %}
                {% elseif redirectPayment == true %}
                    <input type="hidden" name="nn_redirect_url" id="nn_redirect_url" value="{{redirectUrl}}">
                    <a class="payment-confirmation-btn btn btn-primary" id="nn_redirect_payment_process">{{trans("Novalnet::Customize.template_novalnet_reinit_payment")}}</a>
                {% else %}
                    <a class="payment-confirmation-btn btn btn-primary" id="nn_direct_payment_process">{{trans("Novalnet::Customize.template_novalnet_reinit_payment")}}</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

{# Show the Modal popup for the form payments #}
<div class="modal" tabindex="-1" role="dialog" id="novalnetPaymentForm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          {% if paymentMopKey in ['NOVALNET_SEPA', 'NOVALNET_GUARANTEED_SEPA'] %}
            {% include "Novalnet::PaymentForm.NovalnetSepa" %}
          {% elseif paymentMopKey == 'NOVALNET_GUARANTEED_INVOICE' %}
            {% include "Novalnet::PaymentForm.NovalnetGuaranteedInvoice" %}
          {% elseif paymentMopKey == 'NOVALNET_CC' %}
            {% include "Novalnet::PaymentForm.NovalnetCc" %}
          {% endif %}
        </div>
    </div>
</div>
{% endif %}
