{# Load the css and Js #}
<link rel="stylesheet" href="{{plugin_path('Novalnet')}}/css/novalnetUi.css">
<script type="text/javascript" src="https://cdn.novalnet.de/js/v2/NovalnetUtility.js"></script>
<script src="{{ plugin_path('Novalnet') }}/js/novalnetSepa.js"></script>
{% if paymentMopKey == 'NOVALNET_GUARANTEED_SEPA' and showBirthday == true %}
   <script src="{{plugin_path('Novalnet')}}/js/novalnetGuaranteedPayment.js"></script>
{% endif %}

{# Direct Debit SEPA payment form #}
<form method="post" id="novalnet_form" name="novalnet_form" action="{{nnPaymentProcessUrl}}">
     {# Modal box for Direct Debit SEPA payment form #}
      <div class="modal-header">
        <h5 class="modal-title">{{paymentName}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onClick="window.location.reload();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    <div class="modal-body">
        {# Set the post data #}
        <input type="hidden" id="nn_payment_key" name="nn_payment_key" value="{{paymentMopKey}}">
        <input type="hidden" id="nn_show_birthday" name="nn_show_birthday" value="{{showBirthday}}">
        <input type="hidden" id="nn_account_data_invalid" name="nn_account_data_invalid" value="{{trans("Novalnet::Customize.template_novalnet_sepa_error")}}">
        {# Set the reinitialization is used #}
        {% if reinitializePayment is not empty %}
            <input type="hidden" id="nn_reinitializePayment" name="nn_reinitializePayment" value="{{reinitializePayment}}">
            <input type="hidden" id="nn_order_amount" name="nn_order_amount" value="{{orderAmount}}">
        {% endif %}
        <div class="row">
            <div class="col-12">
                <div class="input-unit">
                    <input type="text" name="nn_sepa_iban" id="nn_sepa_iban" placeholder="DE00 0000 0000 0000 0000 00" style="text-transform:uppercase;" onkeypress="return NovalnetUtility.checkIban(event, 'nn_sepa_bic');" onkeyup="return NovalnetUtility.formatIban(event, 'nn_sepa_bic');" onchange="return NovalnetUtility.formatIban(event, 'nn_sepa_bic');" required>
                    <label for="nn_sepa_iban">{{trans("Novalnet::Customize.template_sepa_iban_label")}}*</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="input-unit">
                    <input type="text" name="nn_sepa_bic" id="nn_sepa_bic" placeholder="XXXX XX XX XXX" style="text-transform:uppercase;display:none;" onkeypress="return NovalnetUtility.formatBic(event);" onchange="return NovalnetUtility.formatBic(event);">
                    <label for="nn_sepa_iban">{{trans("Novalnet::Customize.template_sepa_bic_label")}}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a href="#iban_details" data-toggle="collapse">{{trans("Novalnet::PaymentMethod.ibanMandate")}}</a>
                <div id="iban_details" class="collapse card-body" style="background:whitesmoke;padding:3%;">
                <div>{{trans("Novalnet::PaymentMethod.ibanDesc")}}</div><br>
                <div><b>{{trans("Novalnet::PaymentMethod.creditorIdentifier")}} </div></b><br>
                <div><b>{{trans("Novalnet::PaymentMethod.note")}}</b> {{trans("Novalnet::PaymentMethod.noteDesc")}}</div></div><br>
            </div>
        </div>

        {# Date of Birth Form #}
        {% if paymentMopKey == 'NOVALNET_GUARANTEED_SEPA' and showBirthday == true %}
            {# Set the post data #}
            <input type="hidden" id="nn_show_dob" name="nn_show_dob" value="1">
            <input type="hidden" id="nn_dob_empty" name="nn_dob_empty" value="{{trans("Novalnet::Customize.template_dob_empty")}}">
            <input type="hidden" id="nn_dob_invalid" name="nn_dob_invalid" value="{{trans("Novalnet::Customize.template_dob_invalid")}}">

            <div class="row">
                <div class="col-12">
                    <b><label for="nn_birthday">{{trans("Novalnet::Customize.template_birthdate_label")}}<span class="text-danger">*</span></label></b>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <input type="tel" name="nn_guarantee_date" id="nn_guarantee_date" maxlength="2" placeholder="{{trans("Novalnet::PaymentMethod.day")}}" autocomplete="off" class="form-control">
                </div>

                <div class="col-sm-4">
                    <select id="nn_guarantee_month" type="text" name="nn_guarantee_month" class="form-control">
                        <option value="0">{{trans("Novalnet::PaymentMethod.monthOption")}}</option>
                        {% for i in 1..12 %}
                            <option value="{{i}}">{{ trans("Novalnet::PaymentMethod.month#{i}") }}</option>
                        {% endfor %}
                    </select>
                 </div>

                <div class="col-sm-4 autocomplete">
                    <input type="text" name="nn_guarantee_year" id="nn_guarantee_year" maxlength="4" placeholder="{{trans("Novalnet::PaymentMethod.year")}}" autocomplete="off" class="form-control">
                </div>
            </div>
        {% endif %}
    </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="novalnet_form_btn">{{trans("Novalnet::Customize.template_submit_button_text")}} <i class="fa fa-check"></i></button>
      </div>
</form>
